$colorFuente:#112A46;
$colorPrincipal:rgb(186,179,213);

*{
    margin: 0;
    padding: 0;
}

body{
    height: 100%;
}

header{
    width: 100%;
}

a{
    text-decoration: none;
    color:$colorFuente;
}