$fontSize:1em;


body{
    font-family: 'Roboto Mono', monospace;
    
}

.encabezado2{
    font-size: $fontSize*1.5;
    font-weight: 400;  
}

.encabezado__secundario{
    font-size: $fontSize*1.5;
    font-weight: bolder; 
}


.encabezado__secundario-ventas{
    font-size: $fontSize*1.5;
    font-weight: bolder; 
}


// BARRA DE NAVEGACION

.barra__boton--estilo{
    text-decoration: none;
    color:#112A46;
    font-family: 'Roboto Mono', monospace;
    font-weight: bolder;   
    font-size: large;  
    margin: $fontSize/3;
    // border-radius: 5px;
}

/*TARJETAS CATALOGO*/

.coleccion {
    .coleccion__card1  {
              h4{
                font-weight: 600;
                font-size: 0.8em;
                text-align: center;
                margin-top: 1em;
            }
        }
    }  
    
.coleccion {
       .coleccion__card1  {
                 p{  
                 font-size: $fontSize;
                 font-weight: 300;
                 text-align: center;
            }    
        }
    }

.coleccion {
        .coleccion__card2{
                h4{
                    font-weight: 600;
                    font-size: $fontSize;
                    text-align: center;  
                } 
            }   
    } 

 
.coleccion {
    .coleccion__card2{
                     p{  
                        font-size: 0.8em;
                        font-weight: 300;
                        text-align: center;
                        margin-bottom: 1px;
                    }
                } 
            } 
            
.coleccion {
    .coleccion__card3 {
                        h4{
                            font-weight: 600;
                            font-size: $fontSize;
                            text-align: center;
                        }
                    }
                }

.coleccion {
    .coleccion__card3 {
                        p{  
                            font-size: 0.8em;
                            font-weight: 1000;
                            text-align: center;
                        }
                    }
                }


/*TITULOS*/

.titulos{
    text-align: center;
    margin-top: 1.25em;
    font-size: 2.5em;
}

.titulos__secundario{
    text-align: center;
}

.encabezado-novedades{
    font-size: 3em;
    margin-top: 2em;
    margin-bottom: 1em;
    border-bottom: 1px solid #bab3d4;
    border-radius: 0 0 100% 0;
}

.titulo-novedades{
    font-family: 'Roboto', sans-serif;
    font-weight:800;
    font-size: 1em;
}

.subtitulo-novedades{
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 0.8em;
}

.texto-novedades{
    font-weight: 100;
    font-size: 0.8em;
}

// SECCION NOSOTROS 

.columna__texto {
    font-size: 1.3em;
    font-weight: 900;
}

#letrachica{
    font-size: 0.7em;
    font-weight: 900;
}


/*SECCION AUTORES*/
.autores__descripcion--negrita{
    font-weight: 700;
    font-size: $fontSize*1.2;
    margin-top: 0.5em;
}


.autores__descripcion--autor{
    font-size: $fontSize;
}

/*SECCION LIBROS*/

.libro__descripcion{
    height: auto;
    font-size: 1.1em; 
    font-weight: 900;
}


.libro__descripcion--datos{
    font-size: 0.7em;
    line-height: 0.2em;
}


// FOOTER

.footer{
    margin-top: 50px;
    font-size: 0.8em;
    font-weight: 900;
}

.card__footer-text{
    font-size: 1em;
}