
@import 'estructura';
@import 'tipografia';
@import 'colores';

$cardWidth:18.75em;
$cardHeight: 28em;
$logoWidth:4.5em;
$fontSize:1em;

/*ENCABEZADOS*/

.encabezado2{
    text-align: center;
    padding-top: 50px;
    height: 200px;
}

.encabezado__secundario{
    text-align: center;
    padding-top: 50px;
    height: 190px;
}


.encabezado__secundario-ventas{
    text-align: center;
    padding-top: 35px;
    height: 190px;
}

.encabezado__libros{
   height: 20px;
   text-align: left;  
} 


/* INDEX */


.imagen__rur{
    width: 20em;
    height: 30em;
    margin-top: 5em;
    margin-bottom: 5em;
    margin-right: 3px;
    box-shadow: 4px 4px 4px 3px rgba(0, 0, 0, 0.3);

}


.imagen__rur2{
    width: 20em;
    height: 20em;
    margin-top: 5em;
    margin-bottom: 5em;
    margin-right: 3px;
    box-shadow: 4px 4px 4px 3px rgba(0, 0, 0, 0.3);
   
}

.texto__rur{
    margin-top:10em;
    margin-bottom: 2em;
    padding-right: 30px;
    font-weight: bold;
    font-style: italic;
    font-size: 1.2em;
    color: #112A46;
    
}





/*BARRA DE NAVEGACION*/

.barra__logo{
    width: $logoWidth;
    padding-top: 1em;
}


.barra__boton{
    display: flex;
    flex-direction: row;
    justify-content:flex-end;
    margin-right: 1em;
    margin-bottom: 1em;    
}



/*TARJETAS CATALOGO*/

.coleccion{
    display: flex;
    justify-content:space-evenly;
    margin: auto;
    margin-top: 80px;
    margin-bottom: 80px;    
}


.coleccion {
        .coleccion__card1 { 
            width: 12.5em;
            height: 23em;
            img{
                width: 12.5em;
                height: 18em;
                border-radius: 5px;
            }
        }
    }   


.coleccion {
    .coleccion__card2{
        width: $cardWidth;
        height: 26em;
    }
}

.coleccion {
    .coleccion__card3{
        width: $cardWidth;
        height: ($cardHeight/3)*2;
    }
}

.coleccion {
    .coleccion__card2{
        img{
            width: $cardWidth;
            height: 18.75em;
            border-radius: 5px;
        }
    }
}

.coleccion {
    .coleccion__card2{
                    h4{
                        margin-top:1em;
                 } 
            }
        }


.coleccion {
    .coleccion__card3 {
                    img{
                        width: 18.75em;
                        height: 12.5em;
                        border-radius: 5px;
                 }
            }
        }

.coleccion {
    .coleccion__card3 {
                    h4{
                        margin-top:1em;
                    }
                } 
        }

.coleccion {
    .coleccion__card3 {
                        p{  
                            margin-top: 0.25em;
                        }
                }
            }       


.coleccion:hover{
    .coleccion__card1{
        transform: scale(.98);
        box-shadow: none;
    }
}

.coleccion:hover{
    .coleccion__card1:hover{
        transform: scale(1);
        filter: blur(0px);
        opacity: 1;
        box-shadow: 0px 8px 30px 0px rgba(0,0,0,0.125);
    } 
}


.coleccion:hover{
    .coleccion__card2{
        transform: scale(.98);
        box-shadow: none;
    }
}

.coleccion:hover{
    .coleccion__card2:hover{
        transform: scale(1);
        filter: blur(0px);
        opacity: 1;
        box-shadow: 0px 8px 30px 0px rgba(0,0,0,0.125);
    } 
}

.coleccion:hover{
    .coleccion__card3:hover{
        transform: scale(1);
        filter: blur(0px);
        opacity: 1;
        box-shadow: 0px 8px 30px 0px rgba(0,0,0,0.125);
    } 
}

#tres{
    margin-top: 3em;
}

/*TITULOS*/
.titulos{
    margin-top: 1.25em;
}




/* SECCION NOSOTROS */

.columna{
    display: flex;
    justify-content: center;
  
}

.columna__logo{
    width: 50em;
}

.columna__texto {
    padding-left:6em;
    padding-right: 6em;
    padding-top:4.37em ;
}

.columna__texto--linea{
    margin-top: 2em;
    width: 10em;
    border-bottom: 1px solid black;
}
.columna__texto--logo{
    margin-top: 2em;
}

/*SECCION AUTORES*/

.autores{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2em;
    margin-bottom: 2em;
 }

 .autores__descripcion{
     width: 50em;
     margin-top: 3em;
 }    
 
.autores__descripcion {
            img{
                width: 13em;
                height: 15em;
                border-radius: 20px;
            }
    }

.autores__descripcion--imgleft{
    float:left;
    border: 10px solid #ffffff;
}

.autores__descripcion--imgright{
    float: right;
    border: 1px solid #ffffff;
}

.autores__descripcion{
    a{
        border: 1px solid #112A46;
    }
}




/*SECCION VENTAS*/

.lista2{   
    margin-top: 1em;
 }

 .centrado{
    justify-content: space-around;
    display:flex;
    flex-direction:row;
    flex-wrap: wrap;
    margin-top: 7em;
    margin-bottom: 6em;   
 }



 /*SECCION LIBROS*/


.libros{
    display: grid;
    grid-template-columns: 50% 30%;
    justify-items: center;
    align-items: center;
    margin-top: 20px;
    height: 600px;
}

 .libro__tapa{
     margin-bottom: 2em; 
}

.libro__boton{
    font-size: 0.7em;
    font-weight: 900;
}


.encabezado__libros--titulo{
    margin-top: 1.25em;
    margin-left: 1.25em;
    margin-bottom: 0.19em;
}


.libro__imagen{
    max-width: 100%;
    height: auto;
}


.libro__imagen-criaturas{
    max-width: 100%;
    height: 30em;
}


.libro__imagen2{
    max-width: 100%;
    height: auto;
}

.animate__animated.animate__backInLeft{
    --animate-duration: 3s;
}

/*FOOTER*/

.footer{
    display: flex;
    width: 100%;
    padding-top: 1.25em;
    padding-bottom: 1.25em;
    justify-content: space-around;
}

.footer {
                p{
                    margin-left: 3em;
                   
                }
            }

.footer__redes{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 10em;
}

// TARJETAS ASTRONAUTAS

.card-footer{
    height: 5em;
}

.card__footer-text{
    padding: 1em;
}




/*DISEÃ‘O RESPONSIVE*/

/*MOVILES VERTICAL*/
@media only screen and (max-width: 540px){
    .ocultar{
        display: none;
    }
    .card{
        width: 15em;
        margin: auto;
    }
    
    
}


@media only screen and (max-width: 768px){
   
    .encabezado2{
        font-size: $fontSize;
    }

    .encabezado__secundario-ventas{
        font-size: $fontSize;
    }
    
    .coleccion{
        display: flex;
        flex-wrap: wrap;      
        justify-self: center; 
    
    }

    .titulos{
        font-size: 1.5em;
        font-weight: 700;
    }
    .titulos__secundario{
        font-size: $fontSize;
    }

    .titulo-rur{
        font-size: 1.4em;
    }
    .barra__logo{
        width: $logoWidth/2;
    }

    .barra__boton--estilo{
        font-size: $fontSize/2;
    }

    .columna__logo{
        height: auto;
    }
    .columna__texto{
        font-size: $fontSize;
        margin-right: 0.37em;
    }
    .columna__texto--linea{
        width: 7em;
        margin-right: 0.37em;
    }

    .centrado{
         display:flex;
         justify-content: space-evenly;
         align-items: center;
         flex-direction:column;
         flex-wrap: nowrap;
    }

    .centrado__ventas{
        margin-top: 1em;
    }
    .autores__descripcion{
        width: 15em;
    }

    .autores__descripcion--autor{
    font-size: $fontSize/2;
    font-weight: 900;
    }
    .autores__descripcion--negrita{
        font-size: $fontSize;
    }

    .autores__descripcion {
        img{
        width: 7em;
        height: 7.5em;
        border-radius: 20px;
    }
}

    .libros{
        display: grid;
        grid-template-rows: max-content;
        justify-content: space-around;
        height: 440px; 
    }

    .encabezado__libros--titulo{
        font-size: $fontSize;
    }
    
    .libro__descripcion{
        font-size: $fontSize/2;
    }

    .libro__boton{
        font-size: $fontSize/2;
        text-decoration: none;
        color:rgb(70, 66, 66);
        margin-top: 10px;
    }

    .libro__imagen{
        max-width: 100%;
        height: 250px;
    }

    .libro__imagen2{
        width: 150px;
        height: 150px;
    }

    .libro__imagen3{
        width: 150px;
        height: 100px;
    }

    .footer{
        font-size: $fontSize/2;
    }
    .texto__rur{
        font-size: 0.8em;
        margin-top: 6em;
    }
    .imagen__rur{
        width: 15em;
        height: 20em;
    }
    .titulo__card{
        font-size: $fontSize;
    }
    
    
}
  

 

/*MOVILES HORIZONTAL Y TABLETS */

 @media (min-width: 769px) and (max-width: 1100px) { 
    .encabezado{   
        width: 100%;
        font-size: 1.5em;
        padding-top: 300px;
    }
    
    .coleccion{
        display: flex;
        flex-wrap: wrap;            
    }
    .columna__logo{
        height: auto;
    }

    .libro__imagen{
        max-width: 100%;
        height: auto;
    }

    .libro__descripcion{
        font-size: 0.5em;
    }
    
    .texto__rur{
        font-size: 1em;
        margin-top: 5em;
    }

    .imagen__rur{
        width: 10em;
        height: 15em;
    }

    .card__footer-text{
    font-size: 0.5em;
    }

   
} 
